pip install "fastapi[all]"
pip install sqlalchemy
pip install mysql
pip install mysql-connector-python
pip install "python-jose[cryptography]"
pip install "passlib[bcrypt]"
pip install fastapi-mail
pip install "uvicorn[standard]"
pip install fpdf
# Run server
uvicorn main:app --reload
py -m  uvicorn main:app --reload