py -m pip install "fastapi[all]" sqlalchemy mysql mysql-connector-python "python-jose[cryptography]" "passlib[bcrypt]" fastapi-mail "uvicorn[standard]" fpdf openpyxl
# Run server
py -m  uvicorn main:app --reload